
.sideBarContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 11%;
    background: #ffff;
}

.sideBarActive{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: fixed;
    width: 7rem;
    background: #ffff;
    /* left:-100% */
    left:0%;
    z-index: 8888;
}

.sideBarActive .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.barLinks{
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.barLinks > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.barLinks > div:first-child{
    cursor: pointer;
}

.barLinks > div:first-child:hover{
    border-left: solid 5px var(--blue-dark);
}

.barLinks > div:last-child{
    cursor: pointer;
}

.barLinks > div:last-child:hover{
    border-left: solid 5px var(--blue-dark);
}

.barLinks > div:last-child:hover img{
    animation-name: spin;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.awardIcon:hover{
    border-left: solid 5px var(--blue-dark);
    cursor: pointer;
}

.barLinks img{
    height: 2rem;
    width: 2rem;
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconClose{
    margin-left: auto;
    margin: 0.6rem 0.7rem 1rem auto;
    cursor: pointer;
    opacity: 0.6;
}

.iconClose:hover{
    opacity: 1;
}


