.body{
    margin: 0;
    padding: 0;
    min-height: 100vh !important;
    min-height: -webkit-fill-available;
    background: var(--background);
}

.wrappedContent{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container{
    height: 100vh;
    max-width: 992px;
    margin: 0;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    min-width: 13rem;
}

.headerHome{
    display: flex;
}

.container section{
    flex:1;
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}



@media (max-width:728px){
    
    .container{
        height: unset;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

    .container section{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 2.25rem;
    }
    .challengeBoxSection{
        width: 100%;
    }
    .profileSection{
        width: 100%;
    }
}

@media (max-width:1024px) {
    .container section{
        grid-template-rows: 1fr 1fr;
        grid-template-columns:none;
    }
}

@media (min-width:1024px) and (min-height:1366px){
    .container section{
        grid-template-rows: 1fr 1fr;
        grid-template-columns:none;
        grid-gap: 2.55rem;
        min-height: 82vh;
    }
}
