.bodyLeaderBoard{
    margin:0;
    padding: 0;
    min-height: 100vh !important;
    min-height: -webkit-fill-available;
    background: var(--background);
}

.wrappedContent{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.containerLeaderBoards{
    height: 100vh;
    max-width: 992px;
    margin: 0;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    min-width: 13rem;
}

.headerLeaderBoards{
    display: flex;
    flex-direction: column;
    color: #2E384D;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 2rem;
}

.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1rem;
}

.titles  p{
    opacity: 0.5;
    margin-right: 1rem;
}

.leftTitles{
    display: flex;
    flex-direction: row;
    width: 17%;
    justify-content: space-between;

}

.rightTitles{
    display: flex;
    flex-direction: row;
    width: 36%;
    justify-content: space-around;
}

@media (max-width:826px){
    .leftTitles:first-child(){
        margin-right: 0.5rem;
    }
}

@media (max-width:540px){
    .leftTitles:first-child(){
        margin-right: 0.5rem;
    }

    .titles{
        display: none;
    }

    .headerLeaderBoards{
        align-items: center;
    }
}

@media (max-width:320px){
    .headerLeaderBoards{
        font-size: 2rem;
    }
}


@media (max-width:280px){
    .headerLeaderBoards{
        font-size: 2rem;
    }
}

